.container {

	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: 1fr;

	margin-bottom: 30px;

	width: 1050px;

	background-color: #F5F5F5;

	justify-self: center;

	border-radius: 0px 0px 10px 10px;

	box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.15);
}

.subheader {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	max-height: 264px;
	height: 264px;

	display: flex;

	flex-direction: column;

	align-items: start;

	gap: 30px;

	padding: 20px 25px 20px 25px;

	z-index: 2;
}

.subheaderHead {
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	gap: 20px;
	width: 100%;
	max-height: 37px;

/*	justify-content: center;*/
	align-items: center;

	margin-bottom: 20px;


}

.searchBar {
	
	grid-column: 2 / 3;
	justify-self: center;
	width: 429px;
	height: 35px;

	display: grid;
/*	justify-content: center;*/
	align-items: center;
	grid-template-columns: 20px 1fr 20px;

	background-color: #FFFFFF;

/*	background-color: rgba(0, 0, 0, 0.05);*/

	border-radius: 7px;

	padding-left: 5px;

	outline: solid 1px rgba(0, 0, 0, 10%);
	transition: outline 0.1s ease-in-out;

}

.content {
	grid-row: 2 / 3;
	grid-column:  1 / 2;

	min-height: 217px;

	padding: 15px 25px 15px 25px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.empty {
	grid-row: 2 / 3;
	grid-column:  1 / 2;

	min-height: 217px;

	padding: 15px 25px 15px 25px;

	display: grid;
	grid-template-columns: 1fr;

	justify-content: center;

	display: none;
}

/*show list project content*/
.project {

	justify-self: center;

	height: 220px;
	width: 220px;

	background-color: #FFFFFF;
	box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 45px 0.3fr 1fr;
	justify-content: start;

	padding: 15px;

	cursor: default;
}

.project:hover {
	background-color: #F6F6F6;
}

.option {
	justify-self: end;
	margin-top: 0px;
	margin-right: 0px;

	cursor: pointer;
}

.menus {

	grid-column: 2 / 3;
	grid-row: 2 / 3;

	position: absolute;

	z-index: 5;

	margin-top: 35px;

	margin-left: 45px;

	width: 165px;
	max-height: 85px;
	min-height: 50px;
	/*
	min-width: 140px;*/

	background-color: rgba(255, 255, 255, 0.9);

	font-size: 15px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);

	
	padding: 0.2em 0.5em;

	box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.15);
	border-radius: 7px;

	display: none;
}

.list {
	list-style: none;
}

.menus li:not(:first-child) {
	padding: 3px 7px;
	border-radius: 4px;
	cursor: pointer;
}

.menus li:not(:first-child):hover { 
	color: white;
	background-image: linear-gradient(rgba(75, 145, 247, 1),rgba(54, 125, 246, 1));
}

#titleProject {
	padding: 3px 7px;

/*	margin-bottom: 7px;*/

	font-weight: 500;

	/*text-decoration: underline;
	text-underline-offset: 9px;*/
}

.title {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	z-index: 3;
}

.desc {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	z-index: 2;
}

/*Button*/
button {
	padding: 5px 10px;
	font-size: 15px;
	text-align: center;
	font-family: Rubik;
	font-weight: 400;
	color: white;

	border: 0px;
	border-radius: 7px;
	
	cursor: pointer;
}

button:active {
	outline-color: rgba(58, 108, 217, 0.5);
	outline-style: solid;
	outline-width: 3.5px;
}

button:disabled {
	outline: 0px;
	border: 0px;

	color: rgba(239, 239, 239, 1);
}

.btnModal {
	border-radius: 6px;

	font-size: 17px;
  font-weight: 500;
}

.btnGrey {
	border-style: solid;
	border-width: 1.5px;
	background-color: white;
	border-color: rgba(0, 0, 0, 15%);

	color: rgba(61, 61, 61, 1);

}

.btnGrey:disabled {
	background-color: rgba(0, 0, 0, 0.05);

	color: #B9B9B9;
}

.btnRed {
	background-image: linear-gradient(rgba(255, 67, 90, 1),rgba(255, 59, 48, 1));
}

.btnRed:active {
	outline-color: rgba(217, 58, 58, 0.5);
  outline-style: solid;
  outline-width: 3.5px;
}

.btnBlue {
  background-image: linear-gradient(rgba(75, 145, 247, 1),rgba(54, 125, 246, 1));
}

.btnBlue:disabled {
	background-image: linear-gradient(rgba(75, 145, 247, 0.8),rgba(54, 125, 246, 0.8));
}

#addProject{
	grid-column: 3 / 4;
	justify-self: end;
}

/*input field*/

input {
	height: 100%;
	width: 100%;

	border-radius: 7px;
	

	padding: 5px;

	font-family: Rubik;
	font-weight: 400;
	font-size: 15px;

	text-decoration: none;
	outline: solid 1px rgba(0, 0, 0, 10%);
	transition: outline 0.1s ease-in-out;

	cursor: pointer;
	
	
}

input:focus,#title:focus {
	outline: solid 3.5px rgba(58, 108, 217, 0.5);

	cursor: text;
}

#search {
	padding: 0px 0px 0px 5px;

	background-color: transparent;

	outline: none;

	border: none;

	z-index: 4;

	width: 100%;

	grid-column: 2 / 4;

}

#search:focus {
	outline: none;
}

.disabledSearch {
	background-color: rgba(0, 0, 0, 0.05);
	color: #B9B9B9;
}


.enterData, #title{
	font-weight: 300;

	border-radius: 6px;
 	border: none;

 	text-decoration: none;
 	outline: solid 1px rgba(0, 0, 0, 10%);
 	transition: outline 0.1s ease-in-out;
}

textarea {
  resize: none;

  width: 223px;

  font-family: Rubik;
  font-weight: 300;
  font-size: 15px;

  padding: 5px;

  border-radius: 6px;
  border: none;

  text-decoration: none;
  outline: solid 1px rgba(0, 0, 0, 10%);
  transition: outline 0.1s ease-in-out;
}

textarea:focus{
  outline-color: rgba(58, 108, 217, 0.5);
  outline-style: solid;
  outline-width: 3.5px;
}

/*Text*/

#tProject {
	grid-column: 1 / 2;
	justify-self: start;
}

.caption {
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 30px;
	color: #414141

}

.heading {
	font-weight: 600;
	font-size: 45px;
	color: black;

}

.link {
	color: #236BF6;

	cursor: pointer;

	text-decoration: none;
}

#noProject {
	grid-column: 2 / 4;
	display: none;
}

#noProjectSearch {
	grid-column: 1 / 2;
}

.title {
	grid-column: 1 / 3;
	grid-row: 2 / 3;

	font-weight: 500;
	font-size: 17px;
}

.desc {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}

/*icon*/
.icon {
	width: 20px;
	height: 20px;

	grid-column: 1 / 2;
}

#cancelSearch {
	grid-column: 3 / 4;
	grid-row: 1 / 2;

	margin-left: 400px;

	position: absolute;
	z-index: 5;

	display: none;
}


/*animation*/

.reject{

	animation: myAnim 0.5s linear 0s 1 normal none;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

.loading{

	grid-column: 2 / 3;

	content: "";
	position: absolute;
	/*margin: auto;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;*/

	margin-left: 750px;

	display: none;

	width: 4.8px;
	height: 4.8px;
	border-radius: 4.8px;
	box-shadow: 12px 0px 0 0 rgba(186,186,186,0.2), 9.7px 7.1px 0 0 rgba(186,186,186,0.4), 3.7199999999999998px 11.4px 0 0 rgba(186,186,186,0.6), -3.7199999999999998px 11.4px 0 0 rgba(186,186,186,0.8), -9.7px 7.1px 0 0 #bababa;
	animation: myAnime2 1s infinite linear;
}

.spinner {

}

@keyframes myAnime2 {
   to {
      transform: rotate(360deg);
   }
}

/*Modal...*/
.modalAddProject {

  margin: 100px auto;

  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 13px;
  width: 517px;
  height: 456px;

  display: grid;
  grid-template-rows: 42px 1fr 65px;
  grid-template-columns: 1fr;
  align-items: center;
}

.item2 {
  background: white;
  font-weight: 300;
  font-size: 15px;
  color: rgba(65, 65, 65, 1);
}

.modalHead {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  font-weight: 600;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  border-radius: 13px 13px 0px 0px;
  border-bottom: rgba(0, 0, 0, 0.25) 1px solid;

  height: 100%;
}

.modalTitle {
	grid-column: 2 / 3;
	justify-self: center;
}

.modalContent {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  width: 100%;
  height: 100%;

  background: rgba(246, 246, 246, 1);

  padding: 15px;

}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 16px;

}

#picture {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  align-self: center;
  justify-self: center;
}

.naming {
  justify-self: end;
}

.enterData {
  margin-right: 70px;

  height: 22px;
}

.modalFoot {
  grid-row: 3 / 4;
  grid-column: 1 / 2;

  background: rgba(246, 246, 246, 1);

  border-radius: 0px 0px 13px 13px;

  padding-left: 25px;
  padding-right: 25px;

  height: 100%;
}

.items2 {

  height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;

  gap: 15px;

  border-top: rgba(0, 0, 0, 0.25) 1px solid;

}

.modalMain {

  margin: 200px auto;

  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 7px;
  width: 344px;
  height: 245px;

  color: rgba(0, 0, 0, 1);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);

  align-items: center;
  justify-content: center;

  padding: 10px 10px;    
}

.image {
  grid-column: 1/2;
  grid-row: 1/2;

  align-self: center;
  justify-self: center;
}

.titleModal {
  grid-column: 1/2;
  grid-row: 2/3;

  font-size: 15px;
  font-weight: 500;

  align-self: center;
  justify-self: center;
}

.captionModal {
  grid-column: 1/2;
  grid-row: 3/4;

  font-size: 15px;
  font-weight: 300;

  line-height: 140%;
  letter-spacing: 6%;
}

.titleModal, .captionModal {
  text-align: center;
}

.line {
  grid-column: 1/2;
  grid-row: 4/5;

  border: 1px solid rgba(0, 0, 0, 0.25);
}

.buttons {
  grid-column: 1/2;
  grid-row: 5/6;

  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 208px;

  column-gap: 5px;
}

.close {
	grid-column: 1 / 2;
  max-width: 139px;
}

.delete {
	grid-column: 2 / 3;
	max-width: 208px;
}

.modalAddProject::backdrop, .modalMain::backdrop {

  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.modalAddProject:not([open]), .modalMain:not([open]) {
  display: none;
}

.modalAddProject[open], .modalMain[open] {
  animation: bounce-in 250ms linear both;
}
.modalAddProject[open]::backdrop, .modalMain[open]::backdrop {
  animation: fade-in 300ms forwards;
}

.modalAddProject[closing], .modalMain[closing]{
  display: grid;
  pointer-events: none;
  inset: 0;
  animation: scale-down-center 130ms linear both;
}

.modalAddProject[closing]::backdrop, .modalMain[closing]::backdrop {
  animation: fade-out 300ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes bounce-in {
  0%{ opacity: 0; transform: scale(.0); }
  50%{ opacity: 1; transform: scale(1.0); }
  70%{ transform: scale(0.97); }
  100%{ transform: scale(1); }
}